<div class="center jumbotron">
<h1>Home</h1>
<h2>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Stand-upchick </a>
  application.
</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("tormund.jpg", alt: "tormund"),
            'http://rubyonrails.org/' %>

