<footer class="footer">
  <small>
    © All rights reserved "Stand-upchick" & 2019
  </small>
  <nav>
    <ul>
      <li><a href="https://kybas.github.io/portfolio.github.io/" target="_blank">About</a></li>
    </ul>
  </nav>
</footer>